.adminPage{
  box-shadow: 0 0 10px 1px #eae9e9;
  .header{
    margin: 3% 0;
    background-color: #F6F6F7;
    width: 100%;
    padding: 1% 4%;
    h6{
      font-size: 13px;
      font-weight: bold;
    }
    select{
      background-color: #F6F6F7;
      border: none;
      width: 130px;
      font-weight: 450;
    }
    p{
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 500;
    }
    span{
      font-size: 11px;
      margin-top: 0;
      color: #8b8a8a;
    }
    h3{
      font-weight: 700;
      margin: 2%;
    }
    button{
      border: 1px grey solid;
      background: none;
      border-radius: 40px;
      padding: 1.5% 4%;
      &:hover, &:focus{
        background-color: #D7D8DA;
        border: none;
      }
    }
    a{
      color: grey;
      font-size: 12px;
    }
  }
  main{
    min-height: 200px;
  }
  footer{
    background-color: #F6F6F7;
    padding: 2% 6% 1% 6%;
    .footerMenu{
      color: black;
      font-weight: 500;
      display: block;
      line-height: 35px;

    }
    button{
      margin-left: -104%;
      background-color: #F6F6F7 ;
      height: 33px;
      margin-top: 2px;
      width: 45px;
    }
    hr{
      width: 114%;
      margin-left: -7%;
      color: grey;
    }
    p{
      color: #777B82;
      font-size: 13px;
    }
  }

}